body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar-container {
    background-color: #4e0101;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    max-height: 40px;
}

.navbar-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navbar-text {
    margin: 10px; 
    padding-left: 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 16px;
    position: center;
}

.navbar-text:hover {
    color: #7c2344;
}

.navbar-text a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 16px;
}

.navbar-text a:hover {
    color: #7c2344;
   
}

.navbar-btn {
    background-color: #af4c7a;
    display: flex;
    padding: 8px 15px;
    align-items: flex-start;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.navbar-btn:hover {
    background-color: #a04545;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .navbar-text {
        margin: 10px 0;
    }
}

header {
    background: url('room.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 80px 0;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

.booking-section {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.booking-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.booking-section p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4e0101;
    color: #fff;
}
