body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

.hero {
    text-align: center;
    margin-bottom: 30px;
}

.room-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.room-container img {
    max-width: 100%;
    height: auto;
}

.details {
    text-align: center;
    flex: 1;
    margin: 0 20px;
}

.reserve-btn {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.reserve-btn:hover {
    background-color: #2557a7;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
